﻿@model LocationTracking.Models.AdminLogin

@{
    ViewBag.Title = "AdminLogin";
    Layout = "~/Views/Shared/AdminLoginLayout.cshtml";
}
<link href="~/Custom_CSS/Admin_Pannel/AdminLogin.css" rel="stylesheet" />
<div class="LoginContainer">
    <div>
        <h2>Admin Login</h2>
    </div>
    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-horizontal">
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            <div class="form-group">
                @Html.LabelFor(model => model.UserName, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.UserName, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.UserName, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.Password, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.Password, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Password, "", new { @class = "text-danger" })
                </div>
            </div><br />

            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" value="Login" name="submit" id="login" class="btn btn-primary" />
                    <input type="submit" value="Forget Password" name="submit" id="fgtPassword" class="btn btn-primary" />
                </div>
            </div>
        </div>
    }
   
</div>




@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
