﻿<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <link href="~/Custom_CSS/Admin_Pannel/AdminLoginLayout.css" rel="stylesheet" />
</head>
<body>
   
    <div>
       @RenderSection("scripts")           
        @RenderBody()
    </div>
</body>
</html>
